<h1>Books</h1>
   <table class="books_table">
      <thead>
         <tr>
            <th class="table_header">Title</th>
            <th class="table_header">Body</th>
         </tr>
      </thead>
      <tbody>
         <% @books.each do |book| %>
            <tr>
               <td><%= book.title %></td>
               <td><%= book.body %></td>
            </tr>
         <% end %>
      </tbody>
   </table>


<h2>New book</h2>

<div class="submit_box">
   <%= form_with model: @book, url: '/books', method: :post do |f| %>
  <div class="submit_label">Title</div>
  <%= f.text_field :title %>

  <div class="submit_label">Body</div>
  <%= f.text_area :body %>

  <div class="submit_buttom">
  <%= f.submit 'Create Book' %>
  </div>
<% end %>
</div>
